setuptools>=69.0.0
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
ultralytics==8.2.0
torch==2.3.0
torchvision==0.18.0
timm==0.9.16
opencv-python-headless==4.9.0.80
numpy==1.26.4
gtts==2.5.1
groq==0.9.0
Pillow==10.3.0
openai-whisper
